  *{
    box-sizing:border-box;
    }

    a{
        text-decoration: none;
    }

    body{
    padding:10%;
    text-align:center;
    font-family: 'Roboto', serif;
    font-style: italic;
    max-width: 1200px;
    margin: auto;
    }

    .portfolio{
     padding: 50px;
     margin: 20% 0% 5%;
    }
    /*images*/

    img{
    max-width: 100%;
    }
    .profile-pic{
     width: 70%;
     margin-top: 50px;
    }

    h1,h3{
    font-weight: 700;
    }

    body{
        color: grey;
    }



    .wrap{
        min-height: 100vh;
    }

    .contact-info{
     margin: 40% 0px 0px 0px;
    }

    .last-p{
     margin: 40px 0px 30px 0px;
    }

    h3{
        padding:8px;
    }

    .main-h1{
        font-size: 40px;
    }
    
    .two{
        float: right;
        text-decoration: none;
    }

    address{
     font-style: normal;
    }

    footer{
    display: flex;
    border-top: solid grey 1px;
    margin-top: 20%;
    margin-left: 20px;
    }

    .bottom-header{
        display: none;
    }

    /*TABLET INTERFACE*/

    @media(min-width:768px){

    body{
     max-width:100%;
     font-size: 21px;
     text-align: center;
     padding: 10px 20px 10px 35px;
     } 

     h3{
     padding: 4px
     }

    .header-div{
     display: inline-flex;
     }

    .profile-pic{
        width:50%;
    }

    .main-div{
      display: inline-flex;
      flex-direction: row-reverse;
      padding: 30px  0px 0px;
      margin-bottom: -90%;
    }

    .first-paragraph{
        padding-top: 30px;
        font-size: 25px;
        height: auto;
        margin-right:10px;
        padding: 70px 70px 0px 0px;
        
    }

    .absolute-header{
        margin: 0% 0% 10% 0%;
        text-align: left;

    }


    .image{
        width: 95%;
    }

    .major-paragraph{
    padding:10px;
    font-size: 21px;
    }

    address{
     margin-top: 10%;
     margin-right: 20px;
    }

    .two{
      display:none;
    }

    .one{
     font-size: 23px;
     margin: 15px 150px 15px 1px;
    }


    footer{
      text-align: center;
      display: flex;
      font-size: 15px;
   }

    .maintain{
        padding: 20px 20px 0px 20px;
        margin: 20% 20% 0% 20%;
    }

    .contact-info{
      margin: 0% 28% 12% 70px;
        padding-left:0px;

    }

    .last-p{
        margin-top:30px;
    }
    .div-section{
     float:left;
     width:50%;
    }

     .bottom-header{
         display:flex;
         margin-left: 155px;
     }

    }

    /*desktop interface*/

    @media(min-width:1024px) {
        body {
          padding: 0 20px;
          max-width: 1200px;
        }

        .main-h1 {
          float: left;
          line-height: 0.50;
        }

        .first-paragraph{
          font-size: xx-large;
        }


        .header-div {
          float: right;
        }
        .div-section {
          width: 33.333%;
          min-height: 425px;
        }
        .major-paragraph {
          padding:10px;
        }

        footer a, 
        footer .bottom-header {
          margin-left: auto;
        }

        .contact-info{
          margin: 0% 28% 12% 150px;
        }
      }