  *{
    box-sizing: border-box;
    }

    a{
        text-decoration: none;
    }

    body{
    padding:10%;
    text-align: center;
    font-family: 'Roboto',serif;
    }

    .portfolio{
     padding: 50px;
     margin: 20% 0% 5%;
    }
    /*images*/

    img{
    max-width: 100%;
    }
    .profile-pic{
     width: 70%;
     margin-top: 50px;
    }

    h1,h3{
    font-weight: 700;
    }

    body{
        color: grey;
    }



    #wrap{
        min-height: 100vh;
    }

    .contact-info{
     margin: 40% 0px 0px 0px;
    }

    .last-p{
     margin: 40px 0px 30px 0px;
    }

    h3{
        padding:8px;
    }

    .main-h1{
        font-size: 40px;
    }
    
    .two{
        float: right;
        text-decoration: none;
    }

    address{
     font-style: normal;
    }

   footer a,
   footer .bottom-header{
     margin-left: auto;
   }

    footer{
    display: flex;
    border-top: solid grey 1px;
    margin-top: 20%;
    margin-left: 20px;
    }

    .bottom-header{
        display: none;
    }

    /*TABLET INTERFACE*/

    @media(min-width:768px){

  
    body{
     max-width:100%;
     font-size: 21px;
     text-align: center;
     } 

     h3{
     padding: 4px
     }

    .header-div{
     display: inline-flex;
     }

    .profile-pic{
        width:100%;
    }

    .main-div{
      display: inline-flex;
      flex-direction: row-reverse;
      margin-bottom: -90%;
    }

    .first-paragraph{
        padding-top: 30px;
        font-size: 21px;
        height: auto;
        margin-right:10px;
        margin-bottom: -10px;
    }

    .absolute-header{
        margin: -10% 0% 10% 0%;

    }
    
    #map{
      inline-size: max-content;
      
    }

    .image{
        width: 95%;
    }

    .major-paragraph{
    padding:10%;
    font-size: 21px;
    }

    address{
     margin-top: 10%;
     margin-right: 20px;
    }

    .two{
      display:none;
    }

    .one{
     font-size: 23px;
     margin: 15px 150px 15px 1px;
    }


    footer{
      text-align: center;
      display: flex;
      font-size: 15px;
    }

    

    .contact-info{
        margin:20% 28% 0px 140px;
  

    }

    .last-p{
        margin-top:10%;
    }
    .div-section{
     float:left;
     width:50%;
    }

     .bottom-header{
         display:flex;
     }

    }

    /*desktop interface*/

    @media(min-width:1024px) {
        body {
          padding: 0 5px;
        }
        .main-h1 {
          float: left;
          line-height: 0.50;
        }
        .header-div {
          float: right;
        }
        .div-section {
          width: 33.333%;
          min-height: 425px;
        }
        .major-paragraph {
          padding: 0 0 10px 0;
        }
        footer {
          margin: 0;
        }

        .contact-info{
          margin-left: 26%;
          margin-top:50px;
        }
        
        .last-p{
          margin: 10px 0px 0px 0px;
        }
          
        
      }